header {
  width: 100%;
  height: 69px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--vermelho);
}

header h1 {
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  color: var(--branco);
}

.criarQuizz {
  width: 1051px;
  height: 181px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0 auto;
  margin-top: 146px;

  border: 1px dashed #D5D5D5;
  border-radius: 5px;
}

.criarQuizz p{
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
  color: var(--cinza-200);
}

.criarQuizz button{
  width: 151px;
  height: 40px;

  cursor: pointer;

  margin-top: 20px;

  font-size: 21px;
  line-height: 24.61px;
  color: var(--vermelho);
  
  border-radius: 50px;
  border: 1px dashed #EC362D;
  background-color: transparent;
}

.divHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.buttonAdicionarQuizz{
    width: 31px;
    height: 30px;
    margin: 0 10px;
}

.listarSeusQuizzes  {
    width: 1051px;

    margin-top: 146px !important;
    margin: 0 auto;
}

.listarSeusQuizzes h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: var(--titulo);
}

.seusQuizzes {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px; 
}

.todosOsQuizzes {
    width: 1051px;
    margin: 0 auto;
    margin-top: 90px;
}

.todosOsQuizzes h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: var(--titulo);
    margin-bottom: 10px;
}

.quizzes {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px; 
}

.quizz {
    width: 340px;
    height: 181px;
    cursor: pointer;

    border-radius: 5px;

    position: relative;
}

.quizz img{
    width: 340px;
    height: 181px;
    object-fit: cover;
    border-radius: 5px;
}

.quizz p {
    font-weight: 400;
    font-size: 19px;
    line-height: 22.27px;
    color: var(--branco);

    z-index: 2;

    position: absolute;
    bottom: 0;
    left: 10px;
}

.degradeQuizz {
    width: 340px;
    height: 181px;

    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(360deg, #00000080 40%, #ffffff00 100%);
}

.escondida{
    display: none;
}

.criacaoDePerguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;  
}

.criacaoDePerguntas a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    margin-left: 15px;
}

.caixaDeCriacao{
    height: 825px;
    width: 600px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 36px;
}

input{
    height: 46px;
    width: 564px;
    margin-top: 12px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    box-sizing: border-box;
    padding-left: 23px;
}

.primeiraPergunta{
    margin-top: 27px;
}

.respostaCorreta{
    margin-top: 26px;
}

.respostasIncorretas{
    margin-top: 28px;
}

.margem{
    margin-top: 32px;
}

.segundaPergunta{
    margin-top: 24px;
    width: 601px;
    height: 74px;
    box-sizing: border-box;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.terceiraPergunta{
    margin-top: 24px;
    width: 601px;
    height: 74px;
    box-sizing: border-box;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.informacoesBasicas{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.informacoesBasicas a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;

}

.comeco{
    margin-top: 71px;
}

.informacoesDoQuizz{
    width: 600px;
    height: 256px;
    margin-top: 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

button{
    width: 368.86px;
    height: 54px;
    margin-top: 80px;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    margin-bottom: 20px;
}

button a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
}

.escolhaNiveis{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
}

.escolhaNiveis a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.escolhaNiveis img{
    margin-left: 550px;
    margin-top: -25px;
    padding-bottom: 100px;
}
/* .criacaoDeNiveis{
    width: 600px;
    height: 316px;
    left: 420px;
    top: 202px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
} */

.primeiroNivel{
    margin-top: 43px;
    box-sizing: border-box;
    padding-top: 27px;
}

.primeiroNivel a{
    margin-top: 27px;
    margin-left: 10px;
}

.formatacaoDeEscolha{
    width: 600px;
    height: 316px;
    margin-bottom: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.segundoNivel{
    margin-top: 24px;
    width: 600px;
    height: 74px;
    box-sizing: border-box;
    padding-top: 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.segundoNivel a{
    margin-top: 27px;
    margin-left: 10px;
}

.terceiroNivel{
    margin-top: 24px;
    width: 600px;
    height: 74px;
    box-sizing: border-box;
    padding-top: 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    
}

.terceiroNivel a{
    margin-top: 27px;
    margin-left: 10px;
}